$smallSize: 16px;
$xSmallSize: 18px;
$xxSmallSize: 20px;
$middleSize: 22px;
$xMiddleSize: 24px;
$xxMiddleSize: 26px;
$mediumSize: 28px;
$xMediumSize: 30px;
$xxMediumSize: 32px;
$largeSize: 34px;
$xLargeSize: 36px;
$xxLargeSize: 38px;
$highSize: 40px;
$xHighSize: 45px;
$xxHighSize: 50px;
