@mixin daj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin da {
  display: flex;
  align-items: center;
}

@mixin dff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@mixin dj {
  display: flex;
  justify-content: space-between;
}

@mixin dac {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin daww {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin dsj {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

$allRadius: 5px;
$allTransition: 0.3s;
