@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background-color: #00C2A5;
  background-image: url("https://platform.docplanner.com/img/tr/homepage/homepage-bg-tr.jpg?v=9");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.header .navbar {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header .navbar .logo {
  display: flex;
  align-items: center;
}
.header .navbar .logo img {
  width: 50px;
  height: 50px;
}
.header .navbar .logo b {
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-left: 10px;
}
.header .navbar .nav_list {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .nav_list .list_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .navbar .nav_list .list_item .item_link {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.header .navbar .nav_list .list_item .item_link:hover {
  opacity: 0.8;
}
.header .navbar .nav_list .list_item i {
  font-size: 22px;
  color: #ffffff;
  margin-left: 5px;
}
.header .navbar .btn_nav {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 5px;
}

.header .header_block {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 150px;
}
.header .header_block h1 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
  color: #ffffff;
}
.header .header_block p {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 20px;
}
.header .header_block .meet_form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header .header_block .meet_form .form_btn_gr {
  display: flex;
  align-items: center;
}
.header .header_block .meet_form .form_btn_gr .face_to_face_btn,
.header .header_block .meet_form .form_btn_gr .online_btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
}
.header .header_block .meet_form .form_btn_gr .face_to_face_btn small,
.header .header_block .meet_form .form_btn_gr .online_btn small {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin-left: 5px;
}
.header .header_block .meet_form .form_btn_gr .face_to_face_btn i,
.header .header_block .meet_form .form_btn_gr .online_btn i {
  font-size: 22px;
  color: #3d83df;
}
.header .header_block .meet_form .form_btn_gr .online_btn {
  background: transparent;
  margin-left: 20px;
}
.header .header_block .meet_form .form_btn_gr .online_btn small {
  color: #ffffff;
}
.header .header_block .meet_form .form_btn_gr .online_btn i {
  color: #ffffff;
}
.header .header_block .meet_form form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.header .header_block .meet_form form input {
  width: 40%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
}
.header .header_block .meet_form form button {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #3d83df;
  cursor: pointer;
}
.header .header_block .meet_form form button small {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
}
.header .header_block .meet_form form button i {
  font-size: 22px;
  color: #ffffff;
}
.header .header_block .ps_counseling {
  width: 60%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .header_block .ps_counseling .flag_couns {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header_block .ps_counseling .flag_couns .flag {
  font-size: 22px;
  color: #3d83df;
}
.header .header_block .ps_counseling .flag_couns b {
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}
.header .header_block .ps_counseling h6 {
  font-weight: 400;
  font-size: 16px;
  padding-left: 25px;
  padding-top: 20px;
}
.header .header_block .ps_counseling a {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  color: #3d83df;
}

.main {
  width: 100%;
  background-color: #ffffff;
  padding: 50px 0;
}
.main .readmore {
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.main .readmore a {
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
  color: #000000;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.main .readmore a:hover {
  color: #3d83df;
  border-color: #3d83df;
}
.main .readmore .mmor {
  font-weight: 500;
  color: #3d83df;
  border-color: #3d83df;
}
.main .helpcard {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main .helpcard .hcard_box {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .helpcard .hcard_box .icontitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main .helpcard .hcard_box .icontitle i {
  font-size: 22px;
  color: #00C2A5;
}
.main .helpcard .hcard_box .icontitle b {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-left: 10px;
}
.main .helpcard .hcard_box p {
  font-weight: 400;
  font-size: 16px;
  -moz-columns: #000000;
       columns: #000000;
  opacity: 0.8;
  margin-top: 15px;
}
.main .line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.main .ratng_star {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main .ratng_star .article_star {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .ratng_star .article_star h4 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.main .ratng_star .article_star .box_art {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}
.main .ratng_star .article_star .box_art .img_artside {
  width: 18%;
  border-radius: 5px;
}
.main .ratng_star .article_star .box_art .img_artside img {
  width: 100%;
  border-radius: 5px;
}
.main .ratng_star .article_star .box_art .text_artside {
  width: 80%;
}
.main .ratng_star .article_star .box_art .text_artside span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .ratng_star .article_star .box_art .text_artside span .ratingstar_icon i {
  font-size: 20px;
  color: #00C2A5;
  margin-left: 5px;
}
.main .ratng_star .article_star .box_art .text_artside small {
  font-weight: 500;
  font-size: 18px;
  color: #3d83df;
}
.main .ratng_star .article_star .box_art .text_artside p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.main .subsc_klient {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgb(224, 247, 244);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .subsc_klient .img_klientside {
  width: 40%;
}
.main .subsc_klient .img_klientside img {
  width: 100%;
}
.main .subsc_klient .text_klientside {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .subsc_klient .text_klientside h2 {
  font-weight: 600;
  font-size: 26px;
  color: #000000;
  margin-bottom: 10px;
}
.main .subsc_klient .text_klientside span {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}
.main .subsc_klient .text_klientside span p {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  margin-left: 10px;
}
.main .subsc_klient .text_klientside span i {
  font-size: 22px;
  color: #00C2A5;
}
.main .subsc_klient .text_klientside .btn_subscribe {
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #3d83df;
  color: #ffffff;
}
.main .subsc_klient .text_klientside .btn_subscribe small {
  font-weight: 500;
  font-size: 18px;
  margin-right: 5px;
}
.main .subsc_klient .text_klientside .btn_subscribe i {
  font-size: 22px;
}

.footer {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer_block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footer_block .link_box {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer_block .link_box b {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.footer .footer_block .link_box a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  margin-top: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.footer .footer_block .link_box a:hover {
  color: #3d83df;
  border-color: #3d83df;
}
.footer .footer_block .flogo_box {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer_block .flogo_box .flogo {
  width: 100%;
}
.footer .footer_block .flogo_box .flogo img {
  width: 80%;
}
.footer .footer_block .flogo_box address {
  margin-top: 10px;
}
.footer .footer_block .flogo_box address p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  margin-top: 5px;
}
.footer .footer_block .flogo_box .ficon_gr {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.footer .footer_block .flogo_box .ficon_gr a {
  margin-right: 15px;
}
.footer .footer_block .flogo_box .ficon_gr a i {
  font-size: 26px;
  padding: 5px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.footer .footer_block .flogo_box .ficon_gr a i:hover {
  background-color: #00C2A5;
}
.footer .line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 50px 0;
}
.footer .fcopyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .fcopyright .fstate_link {
  display: flex;
  align-items: center;
}
.footer .fcopyright .fstate_link a {
  font-weight: 500;
  font-size: 16px;
  color: #3d83df;
  margin: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.footer .fcopyright .fstate_link a:hover {
  border-color: #3d83df;
}
.footer .fcopyright small, .footer .fcopyright p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */